.about {

    height: 1329px;
    margin: 0 auto;
    background: url('../img/bg/about-bg.png') center center no-repeat fixed;

    &__bg {

        background: url('../img/bg/rectangle-bg.jpg') no-repeat center center;
        background-position: center;
        // margin: 0 auto;
        min-height: 713px;
    }
    
    &__title {

        margin-bottom: 30px;
    }

    &__title_w {

        color: $second-color;
        padding: 100px 0 30px 0;
    }

    &__descr {

        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 100px;

        color: $text-color;
    }

    &__descr_w {

        font-weight: 400;
        font-size: 32px;
        line-height: 130%;

        color: $second-color;
        padding-bottom: 63px;
    }

    &__wrapper {

        display: grid;
        grid-template-columns: repeat(5, 280px);
        gap: 15px;
        padding-bottom: 70px;
        box-sizing: border-box;
    }

    &__item {

        display: grid;
        grid-template-rows: 185px 70px;
        gap: 30px;

        &_icon img {

            display: flex;
            width: 185px;
            height: 185px;
            margin: 0 auto;
        }

        &_descr {

            font-weight: 400;
            font-size: 20px;
            line-height: 150%;

            text-align: center;
            justify-content: center;

            color: $second-color;
        }
    }
}