.about {

    padding: 100px 0 133px;
    background: url('../img/bg/about-bg.png') center (center/cover) no-repeat;

    // &__square {

    //     background-color: $main-color;
    //     height: 713px;
    //     width: 1680px;
    //     margin: 0 auto;
    //     top: 483px;
    //     position: relative;
    //     z-index: -1;
    // }


    &__title {

        margin-bottom: 90px;
    }

    &__title_white {

        color: $second-color;
        margin-bottom: 90px;
    }

    &__descr {

        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 32px;
        line-height: 45px;

        color: $text-color;
    }

    &__descr_white {

        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 32px;
        line-height: 45px;

        color: $second-color;
        margin-bottom: 63px;
    }

    &__text {

        padding-top: 100px;
    }

    &__block {

        background-color: $main-color;
        height: 713px;
        // width: 1680px;
        margin-top: 100px;
    }

    &__wrapper {

        display: grid;
        grid-template-columns: repeat(5, 280px);
        column-gap: 15px;

        .circles {

            display: grid;
            grid-template-rows: 280px 70px;
            row-gap: 30px;
        }
    }

    &__item {

        &_icon img {

            display: flex;
            margin: 0 auto;
        }

        &_descr {

            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 20px;
            line-height: 35px;

            text-align: center;

            color: $second-color;
        }
    }
}