.about {

    height: 1329px;
    margin: 0 auto;
    background: 
        url('../img/bg/about-bg.png') no-repeat,
        url('../img/bg/rectangle-bg.jpg') no-repeat;
    background-size: 100% 1329px, 1680px 713px;
    background-position: center, center 483px;
    opacity: 1;
    
    &__title {

        margin-bottom: 30px;
    }

    &__title_w {

        color: $second-color;
        margin-bottom: 30px;
    }

    &__descr {

        font-weight: 400;
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 150px;

        color: $text-color;
    }

    &__descr_w {

        font-weight: 400;
        font-size: 32px;
        line-height: 45px;

        color: $second-color;
        margin-bottom: 63px;
    }

    &__wrapper {

        display: grid;
        grid-template-columns: repeat(5, 280px);
        column-gap: 15px;

        .circles {

            display: grid;
            grid-template-rows: 185px 70px;
            row-gap: 30px;
        }
    }

    &__item {

        &_icon img {

            display: flex;
            margin: 0 auto;
        }

        &_descr {

            font-weight: 400;
            font-size: 20px;
            line-height: 35px;

            text-align: center;

            color: $second-color;
        }
    }
}