.btn a {

    border: 1px solid $second-color;
    padding: 25px 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;

    color: $second-color;
    cursor: pointer;
    
    img {
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }
}

.btn_blue a {

    background: $main-color;
    border: 1px solid $main-color;
    text-decoration: none;
}

.btn:hover {
    
    opacity: 0.9;
    transform: scale(0.98);
    transition: all 0.4s;
}