.info {

    background: url('../img/bg/info-bg.png') center center/cover no-repeat;
    height: 1329px;
    padding-top: 100px;

    &__content {

        display: grid;
        grid-template-columns: repeat(3, 467px);
        column-gap: 32px;
        margin-top: 30px;

        &_link {
            
            display:flex;
            flex-direction:column;
            text-decoration:none;
            text-align:center;
            cursor: pointer;
            position: relative;

            span {

                font-weight: 500;
                font-size: 32px;
                line-height: 39px;
                top: 122px;
                left: 40px;
    
                color: $second-color;
                position: absolute;
            }
        }
    }

    &__wrapper {

        background:$second-color;
        height: 291px;
        margin-top: 30px;
        padding: 40px;
    }

    &__links {

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 50px;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;

        a {

            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-decoration: none;

            color: $main-color;

            img {

                margin-right: 20px;
                width: 29px;
                height: 29px;
            }
        }

        a:hover {
            
            opacity: 0.9;
            transform: scale(0.98);
        }
    }

    .map {

        height: 784px;
        margin-top: 100px;

        #map {

            width: 1462px; 
            height: 684px;
        }
    }
}