.promo {

    height: 853px;
    background: url('../img/bg/bg.png') center (center/cover) no-repeat;

    &__wrapper {

        display: grid;
        grid-template-columns: 741px 464px;
        column-gap: 247px;
        height: 585px;
        margin-top: 68px;
        position: relative;
    }

    &__text {

        display: grid;
        grid-template-rows: 428px 75px;
        row-gap: 83px;
        align-content: space-between;
    }

    &__title_w {

        color: $second-color;

        img {

            width: 57px;
            height: 38px;
            position: relative;
            bottom: 3px;
        }
    }

    &__subtitle_w {

        margin-top: 49px;
        color: $second-color;
    }

    &__btns {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 25px;
        list-style-type: none;

        width: 741px;
        height: 74px;
    }

    &__logo {

        display: grid;
        grid-template-rows: 183px 402px;
        align-items: flex-start;

        &_img {

            display: flex;
            align-items: flex-start;
            height: 183px;
            margin: 0 auto;

            img {
    
                display: flex;
                align-items: flex-start;
                margin: 0 auto;
            }
        }

        &_sub {

            font-weight: 400;
            font-size: 32px;
            line-height: 130%;
            text-align: center;
    
            color: $second-color;
        }
    }
}