.promo {

    min-height: 853px;
    background:
        url('../img/bg/blackout.png'),
        url('../img/bg/1.png'),
        url('../img/bg/2.png'),
        url('../img/bg/bg.png');
    background-repeat: no-repeat;
    background-position: center center, right top, right top, center center; 
    background-size: cover;
    padding: 158px 0 100px 0;

    &__wrapper {

        display: grid;
        grid-template-columns: 741px 464px;
        grid-template-rows: minmax(510px, auto);
        column-gap: 255px;
    }

    &__content {

        display: grid;
        grid-template-rows: minmax(438px, auto) minmax(74px, auto);
        row-gap: 83px;
        align-content: space-between;
    }

    &__text {

        display: grid;
        grid-template-rows: minmax(281px, auto) minmax(98px, auto);
        row-gap: 49px;
        justify-content: space-between;
    }

    &__title_w {

        line-height: 140%;
        color: $second-color;

        img {

            width: 57px;
            height: 38px;
            position: relative;
            bottom: 3px;
        }
    }

    &__subtitle_w {

        color: $second-color;
        line-height: 110%;
        z-index: 1;

        .divider {

            width: 290px;
            height: 11px;
            background: #FDC50C;
            position: relative;
            top: -12px;
            z-index: -1;
        }

        .divider_2 {

            width: 320px;
            height: 11px;
            background: #FDC50C;
            position: relative;
            top: -12px;
            z-index: -1;
        }
    }

    &__btns {

        display: flex;
        flex-direction: row;
        gap: 25px;
        list-style-type: none;
    }

    &__logo {

        display: grid;
        grid-template-rows: 183px minmax(412px, auto);
        align-items: flex-start;

        &_img {

            display: flex;
            align-items: flex-start;
            height: 183px;
            margin: 0 auto;

            img {
    
                display: flex;
                align-items: flex-start;
                margin: 0 auto;
                object-fit: cover;
            }
        }

        &_sub {

            font-weight: 400;
            font-size: 32px;
            line-height: 130%;
            text-align: center;
    
            color: $second-color;
        }
    }
}