.speakers {

    &__wrapper {

        display: grid;
        grid-template-columns: repeat(2, 715px);
        grid-template-rows: minmax(378px, auto);
        gap: 30px;
        margin-bottom: 100px;

        &_square {

            display: grid;
            grid-template-columns: 295px 371px;
            grid-template-rows: minmax(378px, auto);
            column-gap: 49px;
        }
    }

    &__photo {

        img {

            object-fit: cover;
        }
    }

    &__text {

        display: grid;
        grid-template-rows: repeat(2, minmax(184px, auto));
        row-gap: 10px;
        width: 336px;

        &-sub {

            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
            font-weight: 600;
            font-size: 32px;
            line-height: 130%;
    
            color: $text-color;
        }

        &__descr {

            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
    
            color: $text-color;
        }
    }

    &__organized {

        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../img/bg/organized.png') center (center/cover) no-repeat;
        width: 1460px;
        height: 192px;
        margin-bottom: 100px;

        img {

            display: flex;
            width: 466px;
            height: 123px;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }

    &__logos {

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 39px;
        align-items: center;
        margin-bottom: 100px;

        img {

            object-fit: cover;
        }
    }

    &__title {

        margin-bottom: 30px;

        span {

            font-weight: 800;
            font-size: 48px;
            line-height: 130%;

            color: $main-color;
        }
    }

    &__stay {

        display: grid;
        grid-template-columns: repeat(3, 467px);
        grid-template-rows: minmax(588px, auto);
        gap: 29px;
    }

    .stay {

        display: grid;
        grid-template-rows: 373px minmax(117px, auto) 29px;
        row-gap: 30px;

        &__photo {

            transition: all .6s;

            img {

                object-fit: cover;
            }

            &:hover {

                transform: scale(0.95);
            }
        }

        &__title {

            font-weight: 600;
            font-size: 32px;
            line-height: 130%;
              
            color: $text-color;
        }
    
        &__descr {
    
            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            margin-top: 10px;
    
            color: $text-color;
        }

        &__link {

            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            text-decoration: none;
            cursor: pointer;
            color: $main-color;
    
            img {
    
                margin-right: 16px;
            }
        }

        &__link:hover {

            text-decoration: none;
            color: $main-color;
        }
    }  
}

.accordion {

    // width: 100%;
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: repeat(3, minmax(1fr, auto));
    row-gap: 10px;

    &__title {

        border: none;
        cursor: pointer;
        position: relative;
        padding: 40px;

        p {

            font-weight: 500;
            font-size: 32px;
            line-height: 130%;
            color: $second-color;
            padding-right: 40px;
        }
    }

    &__title:focus {
        outline: none;
    }

    &__title:before,
    &__title:after {

        content: '';
        width: 15px;
        height: 2px;
        background-color: $second-color;
        position: absolute;
        top: 60px;
        transition: all 0.5s ease 0s;
    }

    &__title:before {

        transform: rotate(40deg);
        left: 1394px;
    }

    &__title:after {

        transform: rotate(-40deg);
        right: 40px;
    }

    &__title.active:before {

        transform: rotate(-40deg);
    }

    &__title.active:after {

        transform: rotate(40deg);
    }

    &__text {

        padding: 0 30px;
        background-color: $second-color;
        overflow: hidden;
        border: none;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;

        p {

            margin: 30px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: $text-color;
        }
    }
}

.first {

    background: url(../img/accordion/1.png) no-repeat;
}

.second {

    background: url(../img/accordion/2.png) no-repeat;
}

.third {

    background: url(../img/accordion/3.png) no-repeat;
}