.title {

    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: $text-color;
}

.subtitle {

    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
    color: $text-color;
}