.title {

    height: 59px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: $text-color;
}

.subtitle {

    height: 98px;

    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    color: $text-color;
}